.my-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(245, 245, 245);
}


.line2 {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 71.428571vw;
    height: 71.428571vh;
}

:not(svg) {
    transform-origin: 0px 0px;
}