.container {
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 100vh;
}


.line4 {
    display: flex;
    margin: auto;
    padding-top: 7rem;
    justify-content: center;
    width: 71.4vw;
    height: 86vh;
    background-color: rgb(245, 245, 245);
}